body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-color: black; 
} 

.container {
  width: 400px;
  height: 800px;
  background-color: darkgrey;
  border-radius: 20px;
  margin-top: 50px;
}

.container:hover {
  background-color: grey; 
}

.title {
  margin-top: 20px;
  text-align: center;
}

.title p {
  display: inline;
  margin-right: 40px;
}

.title a {
  color: black;
  text-decoration: none;
  margin-left: auto;
}

.about {
  width: auto;
  height: auto;
  background-color: white;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
  outline: 2px solid black;
}

.about h2 {
  text-align: center;
}

.about p {
  font-size: 20px;
  text-align: center;
  color: grey;
}

.profile {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center; 
  border-radius: 50%;
  margin: 0 auto; 
  outline: 2px solid gray;
}

.website {
  display: flex;
  justify-content: center;
  text-align: center;
  text-align: center;
  color: blue;
}

.social-media {
  width: auto;
  height: auto;
  background-color: khaki;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 20px;
  outline: 2px solid black;
}

#bold-font {
  margin-left: 10px;
  margin-top: 10px;
  font-size: 25px;
}

.social-media p {
  margin-left: 10px;
  font-size: 20px;
}